name: GA2 Action

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: 23f3004349@ds.study.iitm.ac.in
        run: echo "Hello, world!"
